.logo{
 padding-left:40px;
 padding-top: 20px;
 font-size: 30px;
}
.link_color{
  text-decoration: none;
  font-weight: bold;
  color: #0A1115;
  padding: 10px;
  font-size: 15px;
}
.link_color_logo{
  text-decoration: none;
  color: #0A1115;
}
.seperate_link{
  text-align: center;
  padding-top: 20px !important;
}
.social_images{
  padding-top: 20px;
  text-align: right;
}
.seperate_social_link{
  margin: 0 5px;
  text-decoration: none;
}
.total_navbar_background{
  background-color: #C5C4C2;
  padding-bottom: 2px;
  width: 100%;
  margin: 0px;
  display: flex;
}
.activelink{
  color: #8D6D53;
}
.link_color:hover{
  font-size: 18px;
  background-color: #8D6D53;
  border-radius: 15px;
  color: black;
  
}
.link_color_logo:hover{
  color: #8D6D53;
}
body{
  overflow-x: hidden;
}
.social_images .social_media_lnk__anchor{
  text-decoration: none !important;
  color:black;
}
.seperate_social_link:hover{
  font-size:28px !important;
}
.background_home_image{
  background-image: url('./pictures/front_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 91vh;
}
.hOME_name{
  font-size: 65px;
  font-weight: bolder;
}
.hOME_designation{
  font-size: 30px;
  font-weight: bold;
}
.home_name_container{
  padding-top: 150px;
}
.about_heading{
  text-align: center;
  font-weight: bolder;
}
.total_div_about{
  padding-top: 50px;
  padding-bottom: 30px;
}
.about_hr{
  width: 50px;
  text-align: center;
  margin: auto;
  height: 5px !important;
}
.total_div_about .about_para{
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
}
.total_div_about h2{
  color: rgb(118, 173, 199);
  padding-left: 30px;
}
.about_pic_div{
  background-image: url("./pictures/about_pic.jpg");
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.total_about_container{
  margin-top: 50px;
}
.card_description_brthdar{
  padding-top: 20px;
  height: 220px;
  padding-top: 10px;
  font-size: 20px;
  padding-left: 30px;
}
.card_description_brthdar span{
  margin-left: 10px;
}
.about_full_desc{
  padding-left: 30px;
}
.menu_button{
  display: none !important;
}
.resume_total_div{
  padding-top: 30px;
}
.resume_circle_border{
  height: 15px;
  width: 15px;
  border: 2px solid #34B7A7;
  border-radius: 100%;
  position: absolute;
  margin-left: -7.5px;
  margin-bottom: -7.5px;
}
.div_seperate_resume_border{
  position: relative;
  height: 30%;
}
.div_seperate_resume_bordera::before {
  content: '';
  border-left: 2px solid #34B7A7;
  position: absolute;
  height: 95%;
  left: 0;
  top: 5%;
}
.margin_left_seperate{
  margin-left: 20px;
  padding-bottom: 30px;
}
.resume_perticular_heading{
  font-size: 35px;
}
.degree_name_resume{
  font-size: 18px;
  font-weight: bold;
  color: #1D685F;
}
.degree_year_resume{
  padding: 5px 20px;
  background-color: #EFFBF9;
  display: inline-block;
  color: #34B7A7;
  font-weight: bold;
}
.bold_college_name_resume{
  font-weight: bold;
  color:#34B7A7;
}
.college_name_resume{
  font-style: italic;
  font-weight: 500;
}
.education_experience_row{
  margin-top: 20px;
}
.progress_bar_grey{
  height: 15px;
  background-color: lightgray;
  border-radius: 10px;
}
.progress_bar_green{
  height: 15px;
  background-color:#34B7A7;
  border-radius: 10px;
}
.skill_total_div_progress_bar{
  margin-top: 10px;
}
.total_div_progressive_bar{
  margin-top: 50px;
  margin-bottom: 30px;
}
.skill_heading{
  font-weight: bolder;
  color: #1D685F;
  margin-left: 5px;
}
.skill_percentage{
  float: right;
  color: #1D685F;
  font-weight: bold;
  margin-right: 10px;
}
.top_bottom_margin_progressbar{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.certificate_total_div{
  margin-top: 50px;
}
.sd{
  background-image: url('./pictures/certificate.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
}
.container_individual_certificate{
  margin-top: 40px;
}
.certificated_dark_text{
  font-weight: bolder;
  font-size: 18px;
  color: #1D685F;
}
.certificate_normal_text{
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}
.certificated_para{
  line-height: 1;
  padding-left: 40px;
}
.certificated_para a{
  color: grey;
  font-weight: bold;
  text-decoration: none;
}
.contact_total_div{
  margin-top: 40px;
}
.map_div{
  margin-top: 40px;
}
.contact_images{
  padding: 5px;
  border-radius: 100%;
}
.div_flex{
  display: flex;
  margin-top: 20px;
}
.contact_text_details{
  padding-left: 20px;
}
.contact_bold_details{
  font-weight: bolder;
  font-size: 20px;
  color: #1D685F;
}
.contact_details_notbold{
  font-style: italic;
  font-size: 14px;
}
.input_details_div{
  margin-top: 40px;
  margin-bottom: 40px;
}
.all_input_contact input{
  margin-bottom: 20px;
}
.all_input_contact textarea{
  height: 100px;
  margin-bottom: 20px;
}
.contact_button_send{
  font-size: 25px;
  width: 150px;
  display: block;
  margin: auto;
  background-color: #34B7A7;
  color: white;
  font-weight: bold;
  border-radius: 20px;
}
.project_total_div{
  margin-top: 40px;
}
.project_heading{
  font-weight: bold;
  color: #1D685F;
  font-size: 20px;
}
.project_data{
  font-size: 15px;
}
.hr_project{
  color: #34B7A7;
  margin-top: 40px !important;
  width: 50%;
  margin: auto;
}
.single_project{
  margin-top: 40px;
}





@media(max-width:992px){
  .menu_button{
     display: block !important; 
    float: right;
    font-size: 30px !important;
  }
.seperate_link{
   display: block; 
  text-align: left;
}
.social_images{
  text-align: left;
}
.display_menu_hide{
  display: none;
}
.activelink{
  color: #8D6D53;
}
.link_color{
  text-decoration: none;
  font-weight: bold;
  color: #0A1115;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 50px !important;
}
.seperate_link .col{
  margin: 7px 0px;
}
.about_small_screen_div{
  margin-top: 40px;
}
.small_screen_div_age{
  margin-top: -40px;
}
.about_full_desc{
  margin-top: -40px;
}
.all_input_contact{
  margin-top: 30px;
}
}